{{define "main"}}
<section class="container text-monospace mt-3">
        <h2 class="text-center">{{.Title}}</h2>
        {{if eq .Kind "taxonomyTerm"}}
            {{range $key, $value := .Data.Terms.Alphabetical}}
                <span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})</a></span>
            {{end}}
        {{else}}
            <div class="row">
                    {{range .Pages}}
                    <div class="col-md-5 m-3">
                        <h6><a href="{{.Permalink}}">{{ .Title }}</a></h6>
                        {{if eq .Section "post"}}
                        <small class="text-secondary">{{.PublishDate.Format "January 2, 2006"}} | {{.ReadingTime}} minute read</small>
                        {{end}}
                    </div>
                    {{end}}
            </div>
    {{end }}
</section>
{{end}}
